<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
	
		<mapping class= "com.drop.dao.domain.User"/>
		<mapping class= "com.drop.dao.domain.DealMatch"/>
		<mapping class= "com.drop.dao.domain.DealPost"/>
		<mapping class= "com.drop.dao.domain.MailingAddress"/>
		<mapping class= "com.drop.dao.domain.UserRating"/>
		<mapping class= "com.drop.dao.domain.Location"/>
		<mapping class= "com.drop.dao.domain.BusinessDetails"/>
		<mapping class= "com.drop.dao.domain.DealCategory"/>
		<mapping class= "com.drop.dao.domain.DealWanted"/>
		
	</session-factory>
</hibernate-configuration>
