.formFieldError {
	color: red;
}

.scrollPopup {
	overflow-y: scroll;
	max-height: 600px;
}

.broadPopup {
	max-width: 700px;
}

.hiddenTag {
	display: none;
}

.error {
	color: #ff0000;
	font-size: 16px;
	height: auto;
	margin-bottom: 10px;
	padding: -1px 9px;
}

